{% extends 'base.html' %}
{% block content %}
<main>
  <section class="container my-5 px-4">
      <h1>создайте короткую ссылку</h1>
      <div class="col-12 col-lg-7 my-5">
        <form method="POST" novalidate>
          {{ form.csrf_token }}
          {{ form.original_link(class="form-control form-control-lg py-3 mb-3", placeholder=form.original_link.label.text) }}
          <p>
            {% for error in form.original_link.errors %}
              <span style="color: red">{{ error }}</span>
            {% endfor %}
          </p>
          {{ form.custom_id(class="form-control form-control-lg py-3 mb-3", placeholder=form.custom_id.label.text) }}
          <p>
            {% for error in form.custom_id.errors %}
              <span style="color: red">{{ error }}</span>
            {% endfor %}
          </p>
          {{ form.submit(class="button px-5 py-3 btn btn-success") }}
        </form>
      </div>
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <span style="color: red">{{ message }}</span>
        {% endfor %}
      {% endwith %}
      {% if full_short_link %}
        Новая ссылка: <a href="{{ full_short_link }}">{{ full_short_link }}</a>
      {% endif %}
  </section>
</main>
{% endblock %}